h1,h2,h3,h4,h5{
  font-family: var(--font-family-headline);
  font-weight: var(--font-weight-headline-bold);
  text-transform: uppercase;
  color:var(--black);
}
p{
  color:var(--black);
}
body{
  font-size: 20px;
}
