.site-footer {
  margin: 100px 0 0 0;
}

.site-footer__main {
  background-color: var(--black);
}

.site-footer__sub {
  background-color: white;
}

.site-footer__main__wrap {
  display: flex;
  flex-direction: column;
  padding: 100px 0 120px 0;
  align-items: stretch;
  @include viewport-7 {
    flex-direction: row;
    align-items: flex-start;
  }
}

.site-footer__main__contactform {
  margin-right: 0;
  background-color: white;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  width: 100vw;
  margin-left: -40px;
  &:after {
    display: none;
  }
  form {
    padding: 20px;
    input {
      border: 0px;
      border-bottom: 3px solid var(--black);
      margin-bottom: 15px;
      padding: 5px;
      width: 100%;
    }
    textarea {
      border: 3px solid var(--black);
      padding: 10px;
      width: 100%;
    }
    input[type="submit"] {
      background-color: var(--brand-primary);
      text-transform: uppercase;
      font-weight: var(--font-weight-bold);
      font-size: 20px;
      padding: 8px 12px;
      border: 0px;
      margin-top: 10px;
      margin-bottom: 0;
      width: 180px;
      text-align: center;
      color: var(--black);
      &:hover {
        background-color: var(--black);
        color: var(--brand-primary);
      }
    }
    input:focus,
    textarea:active {
      border-color: var(--brand-primary);
    }
    .your-check {
      padding-top: 20px;
      .wpcf7-list-item {
        margin: 0;
      }
      .wpcf7-list-item-label {
        line-height: 1;
        font-size: 16px;
      }
      input[type="checkbox"] {
        border: 2px solid var(--black);
        width: initial;
      }
    }
  }
  @include viewport-7 {
    flex: 0 0 40%;
    margin-bottom: 0;
    margin-right: 10%;
    width: 100%;
    margin-left: 0px;
    &:after {
      display: block;
      content: "";
      z-index: -1;
      position: absolute;
      right: -50px;
      top: 50px;
      height: 100%;
      width: 100%;
      border: 5px solid #fff;
    }
  }
  .ajax-loader {
    margin: 55px 0 0 0 !important;
    left: 50px !important;
    background-color: var(--brand-primary) !important;
    opacity: 1 !important;
    position: absolute !important;
    &:before {
      background-color: var(--black) !important;
    }
  }
}

.site-footer__main__contactdata {
  padding-left: 0px;
  margin-bottom: 50px;
  @include viewport-7 {
    padding-left: 10px;
    flex: 0 0 25%;
    margin-bottom: 0;
  }
  ul.site-footer__main__contactdata__adress {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
    li {
      font-size: 16px;
      line-height: 1.4;
      font-style: normal;
      a {
        color: white;
        &:hover {
          color: var(--brand-primary);
        }
      }
    }
    address {
      font-style: normal;
    }
  }
}

.site-footer__main__contactdata__social {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  list-style-type: none;
  svg {
    width: 30px;
    height: auto;
    margin: 0 15px 0 0;
    fill: white;
    &:hover {
      fill: var(--brand-primary);
    }
  }
}

.site-footer__main__logo {
  padding-left: 0px;
  margin-bottom: 50px;
  @include viewport-7 {
    padding-left: 10px;
    flex: 0 1 25%;
    margin-bottom: 0;
  }
  svg {
    width: 100%;
    height: auto;
  }
  .text {
    fill: white;
  }
  .hand {
    fill: #5b5b5b;
  }
}

.site-footer__sub__menu {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    @include viewport-4 {
      flex-direction: row;
      justify-content: center;
    }
    li {
      margin: 5px 10px;
      text-align: center;

      a {
        color: var(--black);
        font-size: 20px;
        &:hover {
          color: var(--brand-primary);
        }
      }
    }
  }
}
