.icon-box {
  padding: 40px 0;
}

.icon-box h2 {
  text-align: center;
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  text-transform: unset;
}
.icon-box h3 {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  text-transform: none;
}

.icon-box__icon-wrap {
  i {
    font-size: 50px;
    text-align: center;
  }
}

.icon-box__items {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  padding: 40px 0 0 0;
  @include viewport-4 {
    flex-direction: row;
  }
}

.icon-box__items--items-2 {
  .icon-box__item {
    width: 100%;
    @include viewport-4 {
      width: 49%;
    }
    @include viewport-7 {
      width: 48%;
    }
  }
}

.icon-box__items--items-3,
.icon-box__items--items-6,
.icon-box__items--items-7,
.icon-box__items--items-8,
.icon-box__items--items-9,
.icon-box__items--items-10,
.icon-box__items--items-11,
.icon-box__items--items-12 {
  @include viewport-4 {
    flex-wrap: wrap;
  }
  .icon-box__item {
    width: 100%;
    @include viewport-4 {
      width: 49%;
    }
    @include viewport-7 {
      width: 31%;
    }
  }
}

.icon-box__items--items-4 {
  @include viewport-4 {
    flex-wrap: wrap;
  }
  .icon-box__item {
    width: 100%;
    @include viewport-4 {
      width: 49%;
    }
    @include viewport-9 {
      width: 24%;
    }
  }
}

.icon-box__extra-text,
.icon-box__extra-text a {
  text-align: center;
  color: var(--black);
}
