.text-box {
  background-color: var(--gray);
  padding: 40px 0;
}

.text-box h2 {
  text-align: center;
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-size: 42px;
}

.text-box__items {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  padding: 40px 0 0 0;
  @include viewport-4 {
    flex-direction: row;
  }
}

.text-box__items--items-2 {
  .text-box__item {
    width: 100%;
    @include viewport-4 {
      width: 49%;
    }
    @include viewport-7 {
      width: 48%;
    }
  }
}

.text-box__items--items-3 {
  @include viewport-4 {
    flex-wrap: wrap;
  }
  .text-box__item {
    width: 100%;
    @include viewport-4 {
      width: 49%;
    }
    @include viewport-7 {
      width: 31%;
    }
  }
}

.text-box__items--items-4 {
  @include viewport-4 {
    flex-wrap: wrap;
  }
  .text-box__item {
    width: 100%;
    @include viewport-4 {
      width: 49%;
    }
    @include viewport-9 {
      width: 24%;
    }
  }
}

.text-box__extra-text,
.text-box__extra-text a {
  color: var(--black);
}
