.toc-table td{
      padding: 0px 5px;
}

.toc-table thead th{
  font-family: "Montserrat", sans-serif;

}
.toc-table{
  font-family: "Montserrat", sans-serif;
}
.toc-table img{
  width: 150px;
}

.toc-table .has-text-align-center{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.toc-table a{
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
