.button {
  text-align: center;
  font-size: 18px;
  padding: 6px 22px;
  background-color: var(--brand-primary);
  color: var(--black);
  border: 2px solid var(--brand-primary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin: 0;
}

.button--brand {
  color: var(--black);
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
}

.button--black {
  color: white;
  background-color: var(--black);
  border-color: var(--black);
}

.button--white {
  color: var(--black);
  background-color: white;
  border-color: var(--black);
}
